@model Shoping.Data.Entities.State
@{
    ViewData["Title"] = "DeleteState";
}

<h1>Borrar</h1>

<h3>Esta seguro de querer borrar?</h3>
<div>
    <partial name="_StateDetails" />
    
    <form asp-action="DeleteState">
        <input type="hidden" asp-for="Id" />
         <input type="hidden" asp-for="Country.Id" />
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-outline-success">Regresar</a>
    </form>
</div>
